

main#main {
    background-color: #f1f1f1;
    min-height: 100vh;
}

img#site-logo {
    max-height: 44px;
}

.CodeMirror {
    font-family: 'Times New Roman';
    height: calc(100vh - 90px);
    padding: 35px 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.CodeMirror-widget {
    display: inline-flex;
    position: relative;
}

.peer-cursor {
    width: 1.5px;
    height: 24px;
    position: absolute;
    bottom: -6px;
    display: inline-block;
    background: inherit;
}
.cursor-head {
    width: 4px;
    height: 4px;
    display: block;
    background: inherit;

}

#secondary h2 {
    font-size: 1.5em;
    text-decoration: underline;
}
.list-group-item {
    display: flex;
    align-items: center;
    color: #555;
}

.user-icon {
    background-color: black;
    height: 30px;
    width: 30px;
    -webkit-mask: url(static/user.svg) no-repeat center / contain;
    mask: url(static/user.svg) no-repeat center / contain;
}

#user-self {
    border-bottom: 1px solid #bbb;
    color: black;
    text-decoration: underline;
}